.movies-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 28px;
    background-color: #000; /* Fondo negro */
    padding: 20px;
    border-radius: 10px;
}

.movies-main-img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.nav-button {
    position: absolute;
    background-color: rgba(26, 26, 26, 0.6);
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.nav-button:hover {
    background-color: rgba(26, 26, 26, 0.4);
}

.movie-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-button {
    background-color: #f00;
    color: #fff;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.movie-card {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.movie-details {
    color: #fff;
}

.movie-details h2 {
    margin: 0;
    font-size: 1.5em;
}

.movie-details p {
    margin: 5px 0 0;
}
