.search-bar {
    margin : 0 auto;
    
}

.search-bar-result {
    margin : 0 auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px; /* Espacio entre los elementos (abajo) */  
    
}

.search-page-result {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 10;

}
.img-result {
    height: 10vh;
}

.separator {
    width: auto;
    height: 2px;
    border-bottom: 1px solid #ccc;
}