.movies-main-container {
    display: inline-block;
    position: relative;
    margin: 28px;
}

.movies-main-img {
    width: 500px;
    height: 350px;
}

.movies-main-container button:first-of-type {
    position: absolute;
    background-color: #1a1a1a88;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2em;
    top: 36%;
    left: 0%;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.movies-main-container button:nth-of-type(2) {
    position: absolute;
    background-color: #1a1a1a88;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2em;
    top: 36%;
    right: 0%;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.movies-main-container button:hover {
    background-color: #1a1a1a66;
    color: #000000;
}